body {
  background-color: lightgray;
}
h2 {
  font-size: 200%;
  text-align: center;
  font-family: courier;
}
h3 {
  font-size: 200%;
  text-align: center;
  font-family: courier;
}
h4 {
  background-color: rgb(255,215,0);
  font-size: 200%;
  text-align: center;
  font-family: courier;
}
.button {
  border: none;
  color: white;
  padding: 50px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 200px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: rgb(255,215,0);
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: rgb(195,182,9);
  color: white;
}

.button2 {
  background-color: rgb(255,215,0);
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: rgb(255,215,0);
  color: white;
}
.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button3:hover {
  background-color: rgb(195,182,9);
  color: white;
}

