body {
  background-color: lightgray;
}
h2 {
  background-color: rgb(255,215,0);
  font-size: 200%;
  text-align: center;
  font-family: courier;
}
h3 {
  background-color: rgb(255,215,0);
  font-size: 200%;
  text-align: center;
  font-family: courier;
}
h4 {
  background-color: rgb(255,215,0);
  font-size: 200%;
  text-align: center;
  font-family: courier;
}
.button {
  border: none;
  padding: 50px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: rgb(255,215,0);
  color: black; 
}

.button1:hover {
  background-color: rgb(195,182,9);
  color: white;
}

.button2 {
  background-color: rgb(255,215,0);
  color: black; 
}

.button2:hover {
  background-color: rgb(195,182,0);
  color: white;
}
.button3 {
  background-color: rgb(255,215,0);
  color: black; 
}

.button3:hover {
  background-color: rgb(195,182,9);
  color: white;
}
.add-button {
  /*position: absolute;
  top: 1px;
  left: 1px;
    background-color: rgb(255,215,0);
  color: black;*/
  display: none;
}

.add-button:hover {
  background-color: rgb(195,182,9);
  color: white;
}

#schedule_pic1 {
  display: none;
}

#schedule_pic2 {
  display:none;
}

